*{
  margin: 0;
}
body{
  text-align: center;
  margin: 0px;
  background-color: #EFFFFD;

}

h1 {
  color: #E84545;
}
h3{
  color: #903749;
}
.Container{
  height: 500px;
  background-color: #EFFFFD;
}
.mt{
  position: absolute;
  display: inline;
  top: 250px;
}
.mt2{
  position: absolute;
  display: inline;
  top: 280px;
  right: 480px;
}
.first{
position: absolute;
left: 0px;
}
.first2{
position: absolute;
right: 0px;
top: 320px;
height: 160px
}
hr{
  position: relative;
  margin: auto;
  width: 3%;
  border-width: 10px;
  height: 20px;
  border-style:none;
  border-top-style: dotted;
border-color:lightgray ;
}
#hro{
  margin-top: 20px;
}
.Container2{
  margin-top: 0px;
  background-color: #EFFFFD;
}
.profile{
  display: inline-block;
  height: 200px;
  width: 200px;
}
#self{
  font-family: cursive;
  font-size: 18px;
  color: black;
}
.name{
  color: #903749;
}
#limg{
  display: inline;
  position: absolute;
  left:0px;
  height:300px;
  width:auto;
}
